body {
   background-color: rgb(201, 30, 115);
   background-image: url(imagens/Captura\ de\ tela\ de\ 2025-04-28\ 16-23-14.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center; 
   text-underline-position: above;
   }

 h1{
    color: rgb(128, 255, 0);
 }
 p{
    font-style: oblique;
    color: chartreuse
 }
 p{
   color:chartreuse;
   background-color: black;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
   font-size: 100%;
 }
 #p1{
   text-decoration: line-through;
 }

 .verbo{

  color: cyan;

 }