body {

    background-color: rgb(255, 255, 255);
}

* {

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header {
    h1{
        color: rgb(12, 128, 223);
    }
    border: 3px solid red;
    width: 100%;
    text-align: center;
    background-color: rgb(192, 36, 179);
}

nav{
    border: 3px solid rgb(30, 255, 0);
    height: 50px;
    width: 100%;
}

main {
    border: 3px solid rgb(49, 47, 172);
    height: 100%;
    overflow: auto;
    background-color: rgb(94, 96, 116);
}

footer {
    border: 3px solid crimson;
    width: 100px %;
    font-size: medium;
    height: 80%;
    text-align: center;

}

.box{
    height: 500px;
    width: 500px;
    border: 1px solid rgb(235, 1, 1);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 250%;
    text-align: center;
    body {

        background-color: rgb(255, 255, 255);
    }
    
    * {
    
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }
    header {
        h1{
            color: rgb(12, 128, 223);
        }
        border: 3px solid red;
        width: 100%;
        text-align: center;
        background-color: rgb(192, 36, 179);
    }
    
    nav{
        border: 3px solid rgb(30, 255, 0);
        height: 50px;
        width: 100%;
    }
    
    main {

}
#b1{
    float: left;
}
#b2{
    float: left;
}
#b3{
    float: left  ;
}