div{
    background-color: rgb(139, 104, 104);
     text-align: left ;
     /* min-height: 100vh; */
     height: 100%;
    }
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
 }
.footer {

    text-align: center;
    margin-top: auto;
    background-color: aquamarine ;

}
body {

    background-color: rgb(83, 76, 76);
    color: rgb(0, 0, 0);

}
header {
    background-color: rgb(78, 69, 69);
    text-align: center;
    }
      

.bio {
    background-color: rgb(161, 21, 21);
    text-align: center;
    padding: 20px;
    border-radius: 10px;

}
.imagemContainer {

    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: px;
}
.p {
    background-color: rgb(148, 60, 60);
}
